.widget {
	margin: 0px 0px 24px;

	&:last-child {
		margin-bottom: 0px;
	}

	.widget-title {
		font-size: 1.25rem;
		line-height: 1.75rem;
		color: $grayscaleBody;
		font-weight: bold;
		margin-bottom: 20px;
	}

	a {
		&:hover {
			color: $grayscaleLabel;
		}
	}

	ul {
		list-style: none;
		margin: 0;

		li {
			margin-bottom: 12px;

			&:last-child {
				margin-bottom: 0px;
			}
		}
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	// Search form
	.search-form {
		position: relative;

		.search-submit {
			display: none;
		}

		.search-field {
			display: block;
			width: 100%;
			padding: 12px 24px 12px 40px;
			border: 1px solid #f1f1f1;
			outline: none;
			background-color: white;
			font-size: 0.875rem;
			line-height: 1.25rem;
			color: $grayscaleBody;
			transition: all 0.5s ease-in-out;

			&:focus {
				border-color: $grayscaleBody;
			}
		}

		label {
			display: blocl;
			position: relative;
			width: 100%;

			&::after {
				content: "\f002";
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				color: #f1f1f1;
				position: absolute;
				top: 0px;
				transform: translateY(100%);
				right: 15px;
			}
		}
	}
}

.widget-area {
	.widget {
		margin-bottom: 48px;
	}
}