.wd-products-header {
    color: $color__text-primary;
    border-bottom: 1px solid #D1D5DB;
    padding-bottom: 20px;
    margin-bottom: 32px;

    .wd-products-header__title {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
}