.woocommerce {

    span.onsale {
        border-radius: 0px;
        padding: 8px 16px;
        left: auto;
        font-size: 0.75rem;
        line-height: 1.5;
        min-height: 0px;
        min-width: 0px;
        top: 10px;
        right: 10px;
    }

    div.product {
        display: flex;
        flex-direction: column;

        .woocommerce-loop-product__link {
            display: block;
        }

        .woocommerce-loop-product__title {
            display: block;
            margin-top: 12px;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $color__text-primary;
        }

        span.price {
            display: block;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 600;

            del {
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
        }

        .add_to_cart_button {
            margin-top: 20px;
        }
    }

    nav.woocommerce-pagination {

        ul {
            border: none;
            justify-content: flex-end;

            li {
                border: none;

                span {

                    &.current {
                        background: inherit;
                        color: inherit;
                    }
                }
            }
        }
    }

    #content {

        div.product {

            div.images {
                float: none;
                width: 100%;

                .flex-control-thumbs {
                    margin-top: 20px;
                    border-bottom: 1px solid #f1f1f1;
            
                    li {
                        width: 72px;
                        margin: 8.5px
                    }
                }
            }

            div.summary {
                float: none;
                width: 100%;
                margin: 0px;
            }

            .product-title-wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                span.onsale {
                    position: relative;
                    display: inline-block;
                    top: auto;
                    right: auto;
                    margin-left: 20px;
                }
            }

            .product_title {
                display: inline-block;
                font-size: 1.875rem;
                line-height: 2.25rem;
                color: $color__text-primary;
            }

            form.cart {
                display: flex;

                div.quantity {
                    float: none;
                    margin: 0px;
                }
            }

            .product_meta {
                display: flex;
                flex-direction: column;
            }

            .woocommerce-tabs {

                ul.tabs {
                    &::before {
                        border-color: #f1f1f1;
                    }

                    li {
                        background-color: transparent;
                        border-radius: 0px;
                        transition: all 0.5s ease-in-out;
                        border: none;
                        border-bottom: 2px solid transparent;

                        &::before,
                        &::after {
                            display: none;
                        }

                        a {
                            color: $color__text-tertiary;
                        }

                        &.active {
                            border-color: $color__text-primary;

                            a {
                                color: $color__text-primary;
                            }
                        }
                    }
                }

            }

            .related {
                h2 {
                    margin-bottom: 32px;
                    color: $color__text-primary;
                }
            }
        }
    }

    .quantity {

        .qty {
            height: 100%;
            margin-right: 8px;
            @include inputDefault();
            width: 100px;
        }

    }

    .wd-product-meta {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #f1f1f1;

        & > dt {
            display: inline-block;
            text-transform: uppercase;
            vertical-align: top;
            width: 70px;
            
            & > p {
                display: block;
                position: relative;
                font-weight: 700;
                font-size: 0.857143rem;
                line-height: 18px;
                color: rgba(49, 53, 59, 0.32);
                text-decoration: initial;
                margin: 0px;
            }
        }

        & > dd {
            display: inline-block;
            vertical-align: top;
            padding-left: 20px;
            margin: 0px;

            h3 {
                font-size: 1.25rem;
                line-height: 1.75rem;
                color: $color__text-primary;

                del {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color: $color__text-tertiary;
                    font-weight: normal;
                    font-style: italic;
                }

                ins {
                    background-color: transparent;
                    color: #059669;
                }
            }
        }

        dl {
            margin: 0px 0px 12px;
            white-space: nowrap;
            display: flex;

            & > div {
                display: inline-block;
                padding: 0px 16px;
                border-right: 1px solid rgb(229, 231, 233);

                &:first-of-type {
                    padding-left: 0px;
                }

                & > dt {
                    p {
                        display: block;
                        position: relative;
                        font-weight: 400;
                        font-size: 0.857143rem;
                        line-height: 18px;
                        color: rgba(49, 53, 59, 0.68);
                        text-decoration: initial;
                        margin: 0px;
                        text-transform: capitalize;
                    }
                }

                & > dd {
                    margin: 0px;
                }
            }
        }
    }
}