.wd-filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering,
    .woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
        float: none;
    }

    .woocommerce-result-count {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: $color__text-tertiary;
    }

    .woocommerce-ordering {
        select {
            margin-right: 20px;
        }
    }
}