.woocommerce {

    &.widget {
        a {
            font-size: 0.875rem;
            line-height: 1.25rem;

            & + span {
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
        }
    }

    .widget_price_filter {

        .price_slider_wrapper {
            .ui-slider {
                .ui-slider-range,
                .ui-slider-handle {
                    background-color: $color__text-primary;
                }
            }

            .ui-widget-content {
                background-color: $color__text-tertiary;
            }
        }

        .price_slider_amount {
            display: flex;
            flex-direction: column-reverse;

            .price_label {
                text-align: left;
            }

            .button {
                margin-top: 20px;
                // @include buttonDefault();
            }
        }
    }

}