$colorPrimary50: #d8fbff;
$colorPrimary100: #abecff;
$colorPrimary200: #7adfff;
$colorPrimary300: #48d1ff;
$colorPrimary400: #1ac4ff;
$colorPrimary500: #00aae6;
$colorPrimary600: #0084b4;
$colorPrimary700: #005f82;
$colorPrimary800: #003a51;
$colorPrimary900: #001520;

$colorAccent50: #fff3dc;
$colorAccent100: #fddfb2;
$colorAccent200: #f9ca84;
$colorAccent300: #f5b556;
$colorAccent400: #f29f27;
$colorAccent500: #d8860d;
$colorAccent600: #a86807;
$colorAccent700: #794a03;
$colorAccent800: #492c00;
$colorAccent900: #1d0e00;

$grayscaleTitleActive: #14142b;
$grayscaleBody: #4e4b66;
$grayscaleLabel: #6e7191;
$grayscalePlaceholder: #a0a3bd;
$grayscaleLine: #d9dbe9;
$grayscaleInputBackground: #eff0f6;
$grayscaleBackground: #f7f7fc;
$grayscaleOffWhite: #fcfcfc;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__text-primary: $grayscaleTitleActive;
$color__text-secondary: $grayscaleBody;
$color__text-tertiary: $grayscaleLabel;
$color__sidebar-background: white;