$font__display: 'Teko', sans-serif;
$font__text: 'Hind', sans-serif;
$font__main: 'Hind', sans-serif;
$font__headings: 'Teko', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__size-base: 14px;
$font__size-scale: 1.333;
$font__size-lg: 24px;
$font__size-md: 18px;
$font__size-sm: 16px;
$font__size-xs: 14px;
$font__size-h1: 67px;
$font__size-h2: 50px;
$font__size-h3: 37px;
$font__size-h4: 28px;
$font__size-h5: 21px;
$font__size-h6: 16px;