p {
	margin-bottom: 24px;
	line-height: 2rem;
	color: $grayscaleBody;

	&:last-child {
		margin-bottom: 0px;
	}
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0px 24px;

	&:last-child {
		margin-bottom: 24px;
	}
}

address {
	margin: 0px 0px 24px;

	&:last-child {
		margin-bottom: 0px;
	}
}

pre {
	background-color: #eee;
	font-family: $font__code;
	font-size: 0.875rem;
	line-height: 1.625;
	margin-bottom: 24px;
	max-width: 100%;
	overflow: auto;
	padding: 24px;
}

code, kbd, tt, var {
	font-family: $font__code;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background-color: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}
