// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}


/*--------------------------------------------------------------
## Button
--------------------------------------------------------------*/
@mixin buttonDefault() {
	@apply inline-block py-4 px-8 text-sm font-semibold bg-primary-text text-white cursor-pointer;
	@apply border border-primary-text rounded-none;
	@apply transition-all duration-500 ease-in-out;

	&:hover {
		@apply text-white bg-black border-black;
	}
}

/*--------------------------------------------------------------
## Input
--------------------------------------------------------------*/
@mixin inputDefault() {
	@apply inline-block py-2 px-4 text-sm border bg-white text-primary-text cursor-pointer outline-none;
	@apply border border-gray-300 rounded-none;
	@apply transition-all duration-500 ease-in-out;

	&:hover {
		@apply border-gray-600;
	}
}