.site-footer {

    .footer-top {
        @apply bg-screen text-primary-text py-24;

        .logo-link-footer {
            @apply block mb-4;

            img {
                @apply w-full h-auto;
            }
        }

        .footer-description {
            @apply text-sm;
        }

        .site-social-section {
            @apply flex justify-between items-center;
        }

    }

    .copyright {
        @apply bg-tertiary-text py-4;
        @apply text-xs font-bold text-primary-text text-center;

        p {
            color: #7c7b82;

            span, a {
                @apply text-primary-text;
            }

            a:hover {
                @apply text-primary-text;
            }
        }
    }

    .widget {
        a:not(.sosmed-item) {
            @apply text-sm;
        }
    }

}

.site-info-section {

    h6 {
        @apply uppercase text-primary;
    }

    span {
        @apply font-bold tracking-widest block;
    }

    .site-info__content {
        @apply mx-3;
        width: 35%;
    }

    .info-phone {
        @apply text-right;
    }

    .info-logo {
        width: 30%;
        height: 150px;
        @apply flex flex-shrink-0 justify-center items-center;
    }
}

.sosmed-item {
    @apply flex justify-center items-center mx-2 text-white bg-primary-text;
    width: 50px;
    height: 50px;

    &::before {
        @apply hidden;
    }

    &:hover {
        @apply bg-primary text-white;
    }

    &:first-child {
        @apply ml-0;
    }

    &:last-child {
        @apply mr-0;
    }
}

.contact-item {
    @apply flex text-sm;

    .icon {
        width: 24px;
        height: 24px;
        @apply mr-2 flex items-center justify-center text-lg;
    }
}

@media (max-width: theme('screens.sm')) {

    .site-footer {

        .footer-top {

            .site-social-section {
                @apply justify-center;
            }

        }

    }
    
    .site-info-section {
        @apply flex-col;

        .site-info__content {
            @apply w-full text-center mt-5;

            &:first-child {
                @apply mt-0;
            }
        }

        .info-logo {
            order: 1;
        }

        .info-phone {
            order: 2;
        }

        .info-email {
            order: 3;
        }
    }
}