.sticky {
	@apply block;
}

.post,
.page {
	@apply m-0;
}

.content-area {
	@apply mb-25;
}

.updated:not(.published) {
	@apply hidden;
}

.page-content,
.entry-content,
.entry-summary {
	@apply m-0 mt-6;
}

.page-links {
	@apply clear-both m-0 mb-6;
}

.article-item {
	@apply flex flex-col;

	.article-item--image {
		@apply overflow-hidden;

		img {
			@apply transform scale-100;
			@apply transition-all duration-300 ease-in-out;

			&:hover {
				@apply scale-105 opacity-75;
				transition: all 2s ease-in-out, opacity 300ms ease-in-out;
			}
		}
	}

	.categories {
		@apply my-3 overflow-hidden;
		height: 22px;
	}

	.title {
		@apply font-semibold text-lg leading-6 mx-auto my-3 break-words;

		a {
			@apply text-primary-text;

			&:hover {
				@apply text-primary;
			}
		}
	}

	.intro-content {
		@apply text-sm text-secondary-text leading-6 break-words;
	}

	.edit-link {
		@apply mt-2 italic;
	}

	// START SINGLE ARTICLE
	.entry-header {

		.title {
			@apply text-5xl leading-normal;
		}

		.entry-meta {
			@apply mt-4;

			span {
				@apply text-sm;
			}
		}

		hr {
			height: 10px;
			width: 150px;
			@apply block bg-primary-text my-5 mx-0;
		}

		blockquote {
			@apply my-10 mx-auto pt-3 pr-0 pb-3 pl-10 border-screen text-lg;
			border-left-style: solid;
			border-left-width: 10px;
		}

	}

	.tags-links {
		@apply block my-5 text-secondary-text text-sm;

		a {
			@apply text-primary-text font-semibold;

			&:hover {
				@apply text-secondary-text;
			}
		}
	}

	.entry-sharing {
		@apply block mt-5 mb-20;

		.social-sharing {
			@apply flex items-center;
			
			a {
				@apply flex justify-center items-center mx-2 text-primary-text text-sm bg-screen;
				width: 48px;
				height: 48px;

				&:hover {
					@apply text-secondary-text;
				}

				&.twitter:hover {
					color: #1da1f2;
				}

				&.facebook:hover {
					color: #3b5998;
				}

				&:first-child {
					@apply ml-0;
				}

				&:last-child {
					@apply mr-0;
				}
			}
		}
	}

	.title-related {
		@apply mb-4;
	}

}

@mixin tag {
	@apply inline-block m-0 mt-1 mr-1 py-1 px-2 break-words;
}

.categories {
	.cat-links {
		@include tag;
		@apply float-left font-semibold text-2xs bg-primary-text text-white;
	}
}

.tags {
	.tags-links {
		@include tag;
		@apply float-left font-semibold text-2xs bg-primary-text text-white;
	}
}

.tagcloud {
	.tag-cloud-link {
		@include tag;
	}
}

.pagination {
	@apply mt-8;

	ul {
		@apply list-none m-0 flex justify-center items-center;

		li {
			@apply mx-2;

			a, span {
				@apply py-2 px-4 border;
			}

			span {
				@apply border-primary-text bg-primary-text text-white;
			}

			a {
				@apply border-screen text-secondary-text;

				&:hover {
					@apply border-primary-text bg-primary-text text-white;
				}
			}
		}
	}
}