.elementor-widget:not(:last-child) {
    margin-bottom: 0px !important;
}

.sticky {
    display: block;
}

.post,
.page {
    margin: 0;
}

.content-area {
    margin-bottom: 6.25rem;
}

.updated:not(.published) {
    display: hidden;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 0;
    margin-top: 1.5rem;
}

.pagination {
    justify-content: center;
}

.page-numberss {
    clear: both;
    margin: 0;
    margin-bottom: 1.5rem;
}

.page-numbers {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #4e4b66;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-numbers:hover {
    z-index: 2;
    color: $colorPrimary500;
    text-decoration: none;
    background-color: white;
    border-color: $colorPrimary500;
}
.page-numbers:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 170, 230, 0.25);
}

.page-item:first-child .page-numbers {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.page-item:last-child .page-numbers {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.page-item.active .page-numbers {
    z-index: 3;
    color: #fff;
    background-color: $colorPrimary500;
    border-color: $colorPrimary500;
}
.page-item.disabled .page-numbers {
    color: #a0a3bd;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination-lg .page-numbers {
    padding: 0.75rem 1.5rem;
    font-size: 1.09375rem;
    line-height: 1.5;
}
.pagination-lg .page-item:first-child .page-numbers {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
.pagination-lg .page-item:last-child .page-numbers {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-numbers {
    padding: 0.25rem 0.5rem;
    font-size: 0.765625rem;
    line-height: 1.5;
}
.pagination-sm .page-item:first-child .page-numbers {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}
.pagination-sm .page-item:last-child .page-numbers {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}