.jumbotron {
    background-color: #f1f1f1;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-bottom: 100px;

    .jumbotron-title {
        font-size: 3rem;
        line-height: 1;
        color: $grayscaleBody;
        font-weight: bold;
        text-transform: uppercase;
    }

    ol, ul {
        list-style: none;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            color: $grayscaleLabel;
            margin-left: 8px;
            margin-right: 8px;

            &:first-child {
                margin-left: 0px;
            }

            &:last-child {
                margin-right: 0px;
            }

            &::after {
                content: "/";
                margin-left: 12px;
            }

            &.active {
                color: $grayscaleBody;

                &::after {
                    display: none;
                }
            }

            a {
                &:hover {
                    color: $grayscaleBody;
                }
            }

        }
    }
}